* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  /* touch-action: none is essential for mobile drag */
  touch-action: none;
}

.container {
  display: flex;
  color: white;
  height: 100%;
}
